{% comment %} {% extends 'index1.html' %}
{% block button %} {% endcomment %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
        <div class="d-grid gap-2">
          <button class="btn btn-outline-secondary" type="button">Secondary action</button>
          <button class="btn btn-primary" type="button">Primary action</button>
        </div>
      </div>
  </body>
</html>
{% comment %} {% endblock button %} {% endcomment %}





















